/* Global styles */
html {
    background-color: #2A4359;
    color: #F2F0F0;
}

body {
    max-width: 540px;
    margin: 0 auto;
    text-align: justify;
}

/* Headings */
h1, h2 {
    font-family: 'Pacifico', cursive;
}

h1 {
    font-weight: 300;
    font-size: 2.6em;
    margin: 0;
    margin-bottom: 5px;
}

h2 {
    font-weight: lighter;
    text-decoration: underline #F2F0F0;
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
    font-size: 1.8em;
    margin-bottom: 0;
}

/* Paragraphs */
p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1em;
    hyphens: auto;
    line-height: 1.5;
}


/* Gifs */
.gif {
    margin: 20px 0 0 0;
    text-align: center;
}

/* Navigation Bar */
.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0.8rem;
}

.title-link, .nav-links {
    font-family: 'Pacifico', cursive;
    font-size: 1.3rem;
}

.title-link a, .nav-links a {
    color: #F2F0F0;
    text-decoration: none;
}

.title-link a:hover, .nav-links a:hover, a:focus {
    text-decoration: underline #BF9F63;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

.nav-links {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
    text-align: right;
}

.nav-links a {
    margin: 0 10px;
}

/* Footer */
.foot-btn {
    display: flex;
    padding: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #F2F0F0;
}

.foot-btn:hover {
    border-color: #D98E73;
}

.light .foot-btn {
    border: 2px solid #1e1e2e;
}

.git-icon {
    content: url("/github-mark-white.svg");
}

.mail-icon {
    content: url("/mail-white.svg");
}

.linked-in {
    content: url("/li-in-white.png");
}

/* Theme Icon */
html.light {
    background-color: #F2F0F0;
    color: #2A4359;
}

.light h2 {
    text-decoration: underline #2A4359;
}

.light .title-link a {
    color: #2A4359;
}

/* .light .title-link a:hover, .nav-links a:hover, a:focus {
    text-decoration: underline #2A4359;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
} */

.light .nav-links a {
    color: #2A4359;
}

.light .captions{
    background-color: #D98E73
}

.light .foot-btn:hover {
	border-color: #D98E73;
}

.light .git-icon {
    content: url("/github-mark.svg");
}

.light .mail-icon {
    content: url("/mail.svg");
}

.light .linked-in {
    content: url("/li-in.png");
}

/* Media Query */
@media only screen and (max-width: 600px) {
    body {
        width: 320px;
    }

    .nav-bar {
        display: initial;
    }

    .title-link {
        text-align: center;
    }

    .nav-links {
        text-align: center;
    }

    .nav-links a {
        margin: 0 11px;
    }
}
