---
import Layout from '../layouts/Layout.astro';
const pageTitle = "About This Site";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
    </div>
    <h2>About This Site</h2>
    <p>
        This website was built using the Astro framework and is a fork of 
        <a href="https://github.com/ttomczak3/milky-way">Milky-Way</a>, an open-source Astro template. 
    </p>
    <p>
        The color scheme was inspired by two of my favorite TV shows of all time, Master of None and 
        Normal People.  
    </p>
    <div class="gif">
        <img class="image" width="540" height="305" alt="master-of-none" src="/master of none.jpg"/>
        <small>Master of None Season 2, Episode 9</small>
    </div>
    <div class="gif">
        <img class="image" width="540" height="360" alt="normal-people" src="/normal people.jpg"/>
        <small>Normal People Episode 2</small>
    </div>
</Layout>
<style>
    /* small */
    small {
        background-color: #D98E73;
        color: #F2F0F0;
        border-radius: 6px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        padding: 0.3em 0.6em 0.2em;
    }

    div {
        text-align: left;
    }
    a {
        color: #D98E73;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline #D98E73;
        text-decoration-thickness: 1px;
        text-underline-offset: 6px;
    }
</style>
