---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Chloe Lin";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <div class="intro-text">
            <h1>Hello, I'm Chloe.</h1>
            <small class="captions">Student</small>
            <small class="captions">Programmer</small>
            <small class="captions">Procrastinator</small>
        </div>
        <div>
        <img class="image" width="200" height="200" alt="Chloe-pfp" src="/chloe (6).png"/>
        </div>
    </div>
    <h2>Education</h2>
    <p>
        I am currently a student at Purdue University, majoring in computer science with a concentration in security.
        I am also pursuing a math minor, a choice that I find myself questioning almost everyday. 
    </p>
    <h2>Experience</h2>
    <p>
        I was uber fortunate that a small company in Indianapolis by the name of <a href="https://www.expectedbehavior.com/">Expected Behavior</a> 
        gave me the opportunity to intern for them the summer after my freshman year of college when I had next to no experience. 
        I used Ruby on Rails to work on a project management system, <a href="https://projectburndown.com/">Burndown</a>. 
    </p>
    <p>
        That summer, I also explored Downtown Indianapolis and met some of my best friends through the 
        <a href="https://techpoint.org/xtern/">Xtern</a> internship program. I can definitively say that I know
        Indy better than San Francisco, San Jose, or any of the other big cities in the Bay Area now. My friends back 
        home in California are less than thrilled. 
    </p>
    <p>
        Now I am on a research team through the <a href="https://engineering.purdue.edu/VIP">Purdue VIP </a> program under 
        Professor Machiry and the <a href="https://purs3lab.github.io/">PurS3 Lab</a>. We are developing a tool that checks
        for secure practices in CI workflows by using a combination of static analysis, dependency management, and artifact
        signing.
    </p> 
    <p>
        Send me an <a href="mailto: lin1577@purdue.edu" >email</a> if you want a copy of my resume. You are most likely a 
        stalker or a friend, so the chances you do are slim. Serious inquiries only. Do not get my hopes up in this economy.
    </p> 
    <p>
        If you are a stalker, you may be interested in some <a href="/misc/">random facts</a> about me. 
    </p>
</Layout>
<style>
    .gif {
        display: flex;
    }
    .image {
        margin-left: 20px;
    }
    a {
        color: #D98E73;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline #D98E73;
        text-decoration-thickness: 1px;
        text-underline-offset: 6px;
    }
    /* small */
    small {
        background-color: #BF9F63;
        color: #F2F0F0;
        border-radius: 6px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        padding: 0.3em 0.6em 0.2em;
    }

    @media only screen and (max-width: 600px) {
        .link-images img {
            height: 30px;
            width: 30px;
            margin: 16px 1px;
        }
    }
</style>
