---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Miscellaneous";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
    </div>
    <h2>
        Miscellaneous
    </h2>
    <p>
        I love all things basketball, and am an avid fan of the Golden State Warriors. Fortunately, 
        my life has aligned with one of the greatest dynasties in NBA history, so I would much 
        prefer the label "lucky fan", rather than bandwagon.
    </p>
    <p>
        Although I am from Fremont, California, a city in the East Bay region of the Bay Area, I 
        was born in Akron, Ohio. I have no memories of my early first stint in the midwest, so 
        I suffered through my first Indiana winter during freshman year of college like every other
        Californian.  
    </p>
    <p>
        I am not a collector, but I do occassionally fixate on things I would like to collect. 
        My current fixation is on Lego BrickHeadz, a line of collectible brick-built figures.
        At the moment, I only have three, and while I will continue to monitor new releases every month, 
        I don't have much intention expanding my small collection in the near future. 
        Some might call it restraint, others might use the term "window shopping". 
    </p>
</Layout>
<style>
    div {
        text-align: center;
    }
</style>
