---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="nav-bar">
    <div class="title-link">
        <a href="/">Home</a>
    </div>
    <div class="nav-links">
        <a href="/aboutsite/">About This Site</a>
        <ThemeIcon />
    </div>
</div>
